$light: #cfe1de;
$dark: #193c4f;
$primary: #a82643;
$secondary: #e65555;
$info: #f8dcd5;
$accent1: #287478;
$accent2: #4b9890;
$accent3: #ecc5da;
$success: #6fb725;
$warning: #fec686;
$danger: #f9126c;
