@use 'term';

:root {
	--primary: #6A88AD;
	--secondary: #20222B;
	--accent1: #474B72;
	--accent2: #6A9CA3;
	--accent3: #9EBFA5;
}

body {
	font-family: monospace;
	background-color: var(--primary);
	color: var(--accent3);
}
