@use "util.scss";

body {
	font-family: monospace;
	background-color: dimgray;
}

main {
	min-height: 98vh;
	min-width: 98vw;
	@include util.center-flex;
}

#term {
	max-width: 1200px;
	width: 70%;
	height: 75%;
	position: absolute;
	background-color: black;
	border-radius: 15;
	box-shadow: 10px 5px 50px black;
	@include util.center-flex;

	p {
		color: white;
		text-align: center;
	}
}
