$primary: #2C474B;
$secondary: #8BA08C;
$tertiary: #171E28;
$breakpoint-small: 850;
$breakpoint-medium: 1100;

@mixin center-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	font-family: monospace;
	background-color: $primary;
	font-size: 12px;
}

main {
	@include center-flex;
	min-height: 98vh;
	min-width: 98vw;
}

#term {
	max-width: 900px;
	width: 70%;
	height: 80%;

	@media (max-width: $breakpoint-medium) {
		width: 90%;
		height: 90%;
	}

	position: absolute;
	background-color: $tertiary;
	border-radius: 15px;
	box-shadow: 10px 5px 50px black;
	flex-flow: column;

	ul {
		height: 95%;
		@media (max-height: 800px) and (min-width: 800px) {
			height: 85%;
		}
		@media (max-width: $breakpoint-small) {
			font-size: 10px;
		}
		display: flex;
		flex-direction: column-reverse;
		margin-left: -30px;
		overflow-x: hidden;
		overflow-y: auto;
		code {
			color: $secondary;
		}
	}

	form {
		@mixin inner-form {
			font-family: monospace;
			color: $secondary;

			@media (max-width: $breakpoint-small) {
				font-size: 10px;
			}
		}
		padding-left: 10px;
		margin-top: -10px;
		white-space: nowrap;

		label {
			@include inner-form;
			display: inline-block
		}

		input {
			@include inner-form;
			display: inline-block;
			background: transparent;
			border: none;
			outline: none;
		}
	}
}
